.menu_group{
				border: 1px solid black;
				border-radius: 11px;
				background: #ffffff;
				color: black;
				height: 125px;
			}
			.main_cat{
				color: black;
				background: #D3D3D3;
				padding: 7px 0px 7px 16px;
				font-weight: bold;
			}
			.container{
				background: #e6e6e6;
			}
			.resto_name{
				background: #ffffff;
				padding: 7px 0px 5px 11px;
			}
			hr{
				border-top: 1px solid black;
				margin: 0px;
				width: 100%;
			}
			.recipe_details{
				padding-bottom: 7px;
			}
			.menu_type, .viewbtn{
				text-align: right!important;
				padding: 7px 25px 0px 0px;
			}
			.menu_name, .menu_price{
				float: left;
				padding: 7px 0px 0px 25px;
			}
			.view_btn{
				padding: 5px 25px;
				border-radius: 5px;
			}
			.menu_price{
				color: #686a6a;
			}
			.menu_allergens{
				white-space:nowrap;
			}
			div.sticky {
			  position: -webkit-sticky;
			  position: sticky;
			  top: 0;
			  background-color: yellow;
			  padding: 50px;
			  font-size: 20px;
			}
			
			.filterbtn {
				background-color : green;
				color: white;
				padding: 10px 20px;
				border-radius: 25px;
				border-color: #039e03;
			}

			#mybutton {
				position: fixed;
				bottom: 11px;
				right: 37%;
			}
			